@import "src/base";

.top-bar-container {
  height: $top-bar-height;
  min-height: 50px;
  width: 100vw;
  background-color: rgba(#fff, 0.97);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 950;
  -webkit-box-shadow: 0 3px 5px rgba($dark-grey, 0.2);
  -moz-box-shadow: 0 3px 5px rgba($dark-grey, 0.2);
  box-shadow: 0 3px 5px rgba($dark-grey, 0.2);

  &_logo {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 1rem;
  }

  &_buttons-wrapper {
    float: right;
    position: absolute;
    width: 15%;
    max-width: 300px;
    min-width: 270px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    right: 15px;
    margin-right: 84px;

    &_button {
      font-size: 16px;
      padding: 8px 16px;
      color: rgba($dark_blue, 0.9);
      font-weight: 500;
      border: none !important;
    }
  }

  .search-container {
    width: 20%;
    height: 100%;
    max-height: 80px;
    border-radius: 35px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &_logo {
      padding-left: 1rem;
      width: 2.4rem;
    }
  }

  .info-block {
    float: right;
    position: absolute;
    width: 17%;
    max-width: 300px;
    min-width: 270px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    right: 15px;

    &_icon {
      color: $dark_blue;
      width: 30px;
      height: 30px;
      padding: 0;
    }
    &__badge {
    }
    &_user-block {
      width: 65%;
      text-align: center;
      font-size: 15px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      &_username {
        color: $dark_blue;
      }

      &_avatar {
        background-color: $yellow;
        margin-right: 5px;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-height: 800px) {
  .top-bar-container {
    height: 60px;
  }
}
