@import "src/base";

.side-bar {
  position: fixed;
  background-color: #ffffff;
  z-index: 1000;
  border-bottom-right-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0 0.8rem;
  &_list {
    margin-top: 80%;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  &_nav-link {
    width: 80%;
    border-bottom-right-radius: 5px;
    padding: 0.6rem 0.7rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin: 0.6rem 0;

    &__active {
      border: $light-grey 1px solid;
      border-radius: 35px;
      svg {
        fill: $primary;
      }

      &_titile {
        font-weight: bold;
        color: $black;
      }
    }

    &:hover {
      background-color: #f7f7ff;

      &_icon-block {
        height: 43px;
        width: 43px;
      }

      &_title {
        font-size: 13px;
      }
    }

    &_title {
      letter-spacing: 0.6px;
      color: $dark-grey;
      font-weight: 500;
      font-size: 0.9rem;
    }

    svg {
      width: 1.8rem;
      height: 1.8rem;
      color: $dark-grey;
      margin-left: 0.5rem;
      margin-right: 0.7rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .side-bar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }
}

@media only screen and (min-width: 600px) {
  .side-bar {
    width: $side-bar-width;
    top: $top-bar-height;
    left: 0;
    height: 100vh - $top-bar-height;
  }
}
