@import "src/base";

.register-container {
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    min-width: 350px;
    width: 30vw;
    text-align: center;
    margin-top: 10vh;
    border: rgba(128, 128, 128, 0.5) 1px solid;
    padding: 25px;
    border-radius: 12px;
    background-color: $whitish;
  }

  button[type="submit"] {
    height: 50px;
    font-size: 16px;
  }

  .gbutton {
    margin: 25px 0 10px 0;
    width: auto !important;
    outline: none;
  }
}
