// colors
$dark-color: #05386b;
$lighter-dark-color: #379683;
$middle-color: #5cdb95;
$light-color: #8ee4af;
$lightest-color: #8ee4af;

$whitish: #eae6ed;
$yellow: #ecba41;
$dark_blue: #05386b;
$light_blue: #67d1e0;
$red: #e75c62;
$purple: #994a97;
$primary: #5cdb95;
$black: #1e2129;
$dark-grey: #6d7e90;
$light-grey: #dcddeb;

//numbers
$side-bar-width: 15.6rem;
$top-bar-height: 6.5vh;
$break-large: 1500px;
$break-small: 500px;
