@import "base";

a {
  text-decoration: none;
}

body {
  background-color: $whitish;
  margin: 0;
  padding: 0;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: $dark_blue;
}

.auth-routes {
  padding-left: 5vw;

  @media screen and (max-width: $break-large) {
    padding-left: 90px;
  }
}
