@import "src/base";

a {
  text-decoration: none;
}

:root {
  font-size: 16px;
}

body {
  background-color: $whitish;
  margin: 0;
  padding: 0;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: #050505;
}

.auth-routes {
  margin-top: $top-bar-height;
  padding-left: $side-bar-width;
  @media screen and (max-width: $break-small) {
    padding-left: 0;
  }
}
